body{
    background-color:#9D7F4E ;
    margin:0px;
    padding:0px;
}
.navbar ul
{
    list-style-type : none;
    background-color: white;
    padding : 0 px ;
    margin: 0px ;
    overflow:hidden;
}
.navbar a 
{
    color :#9D7F4E ;
    text-decoration: none;
    padding : 10px 10px;
    display: block;
    text-align: center;
}
.navbar li
{
    float: left;
    
}
.navbar p
{
    text-align: center;
    font-family: "Pacifico","consolas";
    color:black;

}
.right li
{
    float : right;
    padding :10px;
    margin:0px;
}
ul{
    display :flex;
    flex-direction:row ;
    justify-content: space-between;
    align-items: center;
}
.navbar p
{
    text-align: center;
    font-family: "Pacifico","consolas";
}
.container1
{
    text-align: center;
}
.container2
{
    text-align: center;
    background-color: white;
}
.container3
{
    text-align: center;
}
.container4
{
    text-align: center;
    background-color: white;
    font-family:"Pacifico","consolas"; 
}

